//====================================================================================================
// section main
.main {
  // .main__fulscren

  &__fulscren {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    @media (max-width: $mobile) {
      height: calc(100vh - 100px);
    }
  }

  // .main__title

  &__title {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > h1 {
      max-width: 713px;
      font-weight: 800;
      font-size: 96px;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & > span:nth-child(1) {
        color: #ff8e3d;
      }
      & > span:nth-child(2) {
        text-shadow: 0px 4px 100px rgba(255, 255, 255, 0.3);
      }
      @media (max-width: $mobile) {
        font-size: 32px;
        line-height: 90%;
      }
    }
  }

  // .main__text

  &__text {
    max-width: 520px;
    margin: 0 auto;
    padding: 0 0 10px 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: $mobile) {
      max-width: none;
      font-size: 14px;
      line-height: 18px;
    }
  }

  // .main__footer

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  // .main__social

  &__social {
    flex: 0 0 33%;
    padding: 38px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22252b;
    position: relative;
    clip-path: polygon(
      0 0,
      calc(100% - 40px) 0,
      calc(100% - 40px) 0,
      100% 40px,
      100% 40px,
      100% 100%,
      100% 100%,
      0 100%,
      0 100%,
      0 0
    );
    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .main__button

  &__button {
    flex: 0 0 33%;
    padding: 38px 5px;
    text-align: center;
    background: #ff8126;
    position: relative;
    clip-path: polygon(
      40px 0,
      calc(100% - 40px) 0,
      calc(100% - 40px) 0,
      100% 40px,
      100% 40px,
      100% 100%,
      100% 100%,
      0 100%,
      0 100%,
      0 40px
    );
    & > button {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 36px;
      @media (max-width: $mobile) {
        font-size: 20px;
        line-height: 100%;
        padding: 0;
      }
    }
    @media (max-width: $mobile) {
      width: 100%;
      padding: 22px 5px;
      clip-path: polygon(
        20px 0,
        calc(100% - 20px) 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% 20px,
        100% 100%,
        100% 100%,
        0 100%,
        0 100%,
        0 20px
      );
    }
  }

  // .main__date

  &__date {
    flex: 0 0 33%;
    padding: 43px 5px;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    text-transform: uppercase;
    color: #aeb5c5;
    background-color: #22252b;
    text-align: center;
    position: relative;
    clip-path: polygon(
      40px 0,
      100% 0,
      100% 0,
      100% 100%,
      100% 100%,
      0 100%,
      0 100%,
      0 40px
    );
    @media (max-width: $mobile) {
      width: 100%;
      font-size: 16px;
      line-height: 100%;
      padding: 24px 5px 26px;
      clip-path: none;
    }
  }
}

.social {
  // .social__title

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #aeb5c5;

    text-transform: uppercase;
    padding: 0 20px 0 0;
  }

  // .social__icons

  &__icons {
    & > ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      & > li {
        width: 42px;
        height: 42px;
        background-color: #808692;
        margin: 0 10px 0 0;
        position: relative;
        clip-path: polygon(
          0 0,
          calc(100% - 4px) 0,
          calc(100% - 4px) 0,
          100% 4px,
          100% 4px,
          100% 100%,
          100% 100%,
          0 100%,
          0 100%,
          0 0
        );
        &:last-child {
          margin: 0;
        }
        & > a {
          display: block;
          width: 100%;
          height: 100%;
          &:hover {
            box-shadow: 0px 0px 14px 8px rgba(191, 198, 204, 0.2);
          }
        }
      }
    }
  }
}
//====================================================================================================

// section participate

.participate {
  text-transform: uppercase;
  padding: 150px 0 135px 300px;
  position: relative;
  background: url(../img/participate/participate_background_second.png) 0 0 /
    cover no-repeat;
  @media (max-width: $mobile) {
    padding: 0;
    background-size: auto;
  }

  // .participate__background
  &__background {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    background-image: url(../img/participate/participate_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: color-burn;
    @media (max-width: $mobile) {
      background-image: url(../img/participate/participate_background_mobile.png);
      background-size: 100% 100%;
      background-position: top;
    }
  }
  // .participate__wrapper

  &__wrapper {
    width: 100%;
    display: flex;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .participate__text

  &__text {
    flex: 0 0 630px;
    position: relative;
    @media (max-width: $mobile) {
      flex: 0 0 auto;
      width: 100%;
      height: auto;
      padding: 40px 30px 0;
    }
  }
  // .participate__title

  &__title {
    margin: 0 0 20px 0;
    text-align: center;
    @media (max-width: $mobile) {
      margin: 0 0 30px 0;
    }
  }

  // .participate__title-beta

  &__title-beta {
    font-weight: 700;
    font-size: 25px;
    line-height: 90%;
    margin: 0 0 16px 0;
    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }

  // .participate__title-name

  &__title-name {
    font-weight: 800;
    font-size: 55px;
    line-height: 90%;
    text-shadow: 0px 0px 100px rgba(255, 255, 255, 0.4);
    @media (max-width: $mobile) {
      font-size: 22px;
    }
  }

  // .participate__title-game

  &__title-game {
    font-weight: 800;
    font-size: 124px;
    line-height: 90%;
    padding: 0 0 15px 0;
    @media (max-width: $mobile) {
      font-size: 56px;
    }
  }

  // .participate__title-test

  &__title-test {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }

  // .participate__description

  &__description {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin: 0 0 20px 0;
    padding: 36px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px);
    position: relative;
    clip-path: polygon(
      25px 0,
      100% 0,
      100% 0,
      100% 100%,
      100% 100%,
      0 100%,
      0 100%,
      0 25px
    );
    @media (max-width: $mobile) {
      font-size: 12px;
      line-height: 14px;
      padding: 21px 15px;
      clip-path: polygon(
        10px 0,
        100% 0,
        100% 0,
        100% 100%,
        100% 100%,
        0 100%,
        0 100%,
        0 10px
      );
      margin: 0 0 10px 0;
    }
  }

  // .participate__information

  &__information {
    width: 105%;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin: 0 0 30px 0;
    position: relative;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 0,
      100% 100%,
      100% 100%,
      25px 100%,
      25px 100%,
      0 calc(100% - 25px)
    );
    @media (max-width: $mobile) {
      font-size: 12px;
      line-height: 14px;
      clip-path: polygon(
        0 0,
        100% 0,
        100% 0,
        100% 100%,
        100% 100%,
        10px 100%,
        10px 100%,
        0 calc(100% - 10px)
      );
    }
  }
  &__information-wrapper {
    padding: 36px 140px 36px 36px;
    background: #4e525a;
    width: 95%;
    position: relative;
    & > img {
      position: absolute;
      bottom: 0;
      right: -20px;
    }
    @media (max-width: $mobile) {
      padding: 15px 93px 15px 15px;
      & > img {
        max-width: 100px;
        right: 0;
      }
    }
  }
  // .participate__button

  &__button {
    width: 430px;
    height: 64px;
    margin: 0 auto;
    & button {
      font-size: 32px;
      line-height: 38px;
      padding: 12px 36px 14px;
      gap: 10px;
    }
    & .button__hexagon-left {
      border-width: 32px 32px 32px 0;
      @media (max-width: $mobile) {
        display: block;
        border-width: 16px 16px 16px 0;
      }
    }
    & .button__hexagon-right {
      border-width: 32px 0 32px 32px;
      @media (max-width: $mobile) {
        display: block;
        border-width: 16px 0 16px 16px;
      }
    }
    & .button__hexagon-center {
      width: calc(100% - 64px);
      filter: drop-shadow(0px 4px 45px #ff8e3d);
      @media (max-width: $mobile) {
        width: calc(100% - 32px);
      }
    }
    @media (max-width: $mobile) {
      width: 190px;
      height: 32px;
      & button {
        font-size: 14px;
        line-height: 18px;
        padding: 6px 16px 7.5px;
        gap: 0;
      }
    }
  }

  // .participate__image
  &__image {
    flex: 1 1 auto;
    margin: 0 0 0 60px;
    position: relative;
    @media (max-width: $mobile) {
      margin: 0;
      max-width: 100%;
    }
  }
  &__image-background {
    width: 100%;
    & > img {
      width: 100%;
      height: 100%;
    }
    @media (max-width: $mobile) {
      height: 272px;
      width: 100%;
      margin: 45px 0 0 0;
    }
  }
  &__image-soldate {
    position: absolute;
    right: 0px;
    top: 65px;
    @media (max-width: $mobile) {
      left: 0;
      top: 15px;
      & > img {
        width: 100%;
        height: 303px;
      }
    }
  }
}

//====================================================================================================

// section about

.about {
  padding: 150px 0 440px 0;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      #313439 0%,
      rgba(0, 11, 41, 0) 100%
    ),
    url(../img/about/about_background.png);
  background-position: center, 50% 100%;
  background-repeat: no-repeat;
  mix-blend-mode: screen;

  // .about__title

  &__title {
    font-weight: 800;
    font-size: 80px;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    color: #f7f7f7;
    margin: 0 0 60px 0;
  }

  // .about__body

  &__body {
  }

  // .about__text-border

  &__text-border {
    font-weight: 500;
    font-size: 26px;
    line-height: 160%;
    text-align: center;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin: 0 60px;
    position: relative;
    width: 1200px;
    height: 416px;
    clip-path: polygon(
      0 0,
      351px 0,
      351px 0,
      376px 25px,
      376px 25px,
      825px 25px,
      825px 25px,
      850px 0,
      850px 0,
      100% 0,
      100% 0,
      100% 100%,
      100% 100%,
      850px 100%,
      850px 100%,
      825px calc(100% - 25px),
      825px calc(100% - 25px),
      376px calc(100% - 25px),
      376px calc(100% - 25px),
      351px 100%,
      0 100%,
      0 100%,
      0 0
    );
    background-color: #fff;
    &:last-child {
      height: 450px;
    }
  }
  // .about__text

  &__text {
    padding: 81px 70px 83px 70px;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: #1a1a1a;
    clip-path: polygon(
      0 0,
      345px 0,
      345px 0,
      370px 25px,
      370px 25px,
      825px 25px,
      825px 25px,
      850px 0,
      850px 0,
      100% 0,
      100% 0,
      100% 100%,
      100% 100%,
      850px 100%,
      850px 100%,
      825px calc(100% - 25px),
      825px calc(100% - 25px),
      370px calc(100% - 25px),
      370px calc(100% - 25px),
      345px 100%,
      0 100%,
      0 100%,
      0 0
    );
    &::before,
    &::after {
      content: '';
      border: 5px solid #fff;
      width: 0;
      height: 80%;
      position: absolute;

      top: 10%;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  // .about__video

  &__video {
    width: 100%;
    height: 700px;
    background: url(../img/about/image_video.png) center no-repeat;
  }
}
