//====================================================================================================
// section main
.main {
  // .main__fulscren

  &__fulscren {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    @media (max-width: $mobile) {
      height: calc(100vh - 100px);
    }
  }

  // .main__title

  &__title {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > h1 {
      max-width: 713px;
      font-weight: 800;
      font-size: 96px;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & > span:nth-child(1) {
        color: #ff8e3d;
      }
      & > span:nth-child(2) {
        text-shadow: 0px 4px 100px rgba(255, 255, 255, 0.3);
      }
      @media (max-width: $mobile) {
        font-size: 32px;
        line-height: 90%;
      }
    }
  }

  // .main__text

  &__text {
    max-width: 520px;
    margin: 0 auto;
    padding: 0 0 10px 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: $mobile) {
      max-width: none;
      font-size: 14px;
      line-height: 18px;
    }
  }

  // .main__footer

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  // .main__social

  &__social {
    flex: 0 0 33%;
    padding: 38px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22252b;
    position: relative;
    clip-path: polygon(
      0 0,
      calc(100% - 40px) 0,
      calc(100% - 40px) 0,
      100% 40px,
      100% 40px,
      100% 100%,
      100% 100%,
      0 100%,
      0 100%,
      0 0
    );
    @media (max-width: $mobile) {
      display: none;
    }
  }

  // .main__button

  &__button {
    flex: 0 0 33%;
    padding: 38px 5px;
    text-align: center;
    background: #ff8126;
    position: relative;
    clip-path: polygon(
      40px 0,
      calc(100% - 40px) 0,
      calc(100% - 40px) 0,
      100% 40px,
      100% 40px,
      100% 100%,
      100% 100%,
      0 100%,
      0 100%,
      0 40px
    );
    & > button {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 36px;
      @media (max-width: $mobile) {
        font-size: 20px;
        line-height: 100%;
        padding: 0;
      }
    }
    @media (max-width: $mobile) {
      width: 100%;
      padding: 22px 5px;
      clip-path: polygon(
        20px 0,
        calc(100% - 20px) 0,
        calc(100% - 20px) 0,
        100% 20px,
        100% 20px,
        100% 100%,
        100% 100%,
        0 100%,
        0 100%,
        0 20px
      );
    }
  }

  // .main__date

  &__date {
    flex: 0 0 33%;
    padding: 43px 5px;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    text-transform: uppercase;
    color: #aeb5c5;
    background-color: #22252b;
    text-align: center;
    position: relative;
    clip-path: polygon(
      40px 0,
      100% 0,
      100% 0,
      100% 100%,
      100% 100%,
      0 100%,
      0 100%,
      0 40px
    );
    @media (max-width: $mobile) {
      width: 100%;
      font-size: 16px;
      line-height: 100%;
      padding: 24px 5px 26px;
      clip-path: none;
    }
  }
}

.social {
  // .social__title

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #aeb5c5;

    text-transform: uppercase;
    padding: 0 20px 0 0;
  }

  // .social__icons

  &__icons {
    & > ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      & > li {
        width: 42px;
        height: 42px;
        background-color: #808692;
        margin: 0 10px 0 0;
        position: relative;
        &::before {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          right: 0;
          border-top: 7px solid #22252b;
          border-left: 7px solid transparent;
        }
        &:last-child {
          margin: 0;
        }
        & > a {
          display: block;
          width: 100%;
          height: 100%;
          &:hover {
            box-shadow: 0px 0px 14px 8px rgba(191, 198, 204, 0.2);
          }
        }
      }
    }
  }
}
//====================================================================================================

// section participate

.participate {
  text-transform: uppercase;
  padding: 150px 0 150px 300px;
  position: relative;
  background: url(../img/participate/participate_soldate.png) 100% 100%
      no-repeat,
    url(../img/participate/participate_image.png) 100% 50% no-repeat,
    url(../img/participate/participate_background_second.png) 0 0 / cover
      no-repeat;

  // .participate__background
  &__background {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    background-image: url(../img/participate/participate_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: color-burn;
  }
  // .participate__wrapper

  &__wrapper {
    width: 680px;
    position: relative;
  }

  // .participate__title

  &__title {
    margin: 0 0 40px 0;
    text-align: center;
  }

  // .participate__title-beta

  &__title-beta {
    font-weight: 700;
    font-size: 25px;
    line-height: 90%;
    margin: 0 0 16px 0;
  }

  // .participate__title-name

  &__title-name {
    font-weight: 800;
    font-size: 55px;
    line-height: 90%;
    text-shadow: 0px 0px 100px rgba(255, 255, 255, 0.4);
  }

  // .participate__title-game

  &__title-game {
    font-weight: 800;
    font-size: 124px;
    line-height: 90%;
    padding: 0 0 25px 0;
  }

  // .participate__title-test

  &__title-test {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  // .participate__description

  &__description {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin: 0 0 20px 0;
    padding: 36px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px);
    position: relative;
    clip-path: polygon(
      25px 0,
      100% 0,
      100% 0,
      100% 100%,
      100% 100%,
      0 100%,
      0 100%,
      0 25px
    );
  }

  // .participate__information

  &__information {
    width: 105%;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin: 0 0 30px 0;
    position: relative;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 0,
      100% 100%,
      100% 100%,
      25px 100%,
      25px 100%,
      0 calc(100% - 25px)
    );
  }
  &__information-wrapper {
    padding: 36px 150px 36px 36px;
    background: #4e525a;
    width: 680px;
    position: relative;
    & > img {
      position: absolute;
      bottom: 0;
      right: -20px;
    }
  }
  // .participate__button

  &__button {
    width: 430px;
    height: 64px;
    margin: 0 auto;
    & button {
      font-size: 32px;
      line-height: 38px;
      padding: 12px 36px 14px;
      gap: 10px;
    }
    & .button__hexagon-left {
      border-width: 32px 32px 32px 0;
    }
    & .button__hexagon-right {
      border-width: 32px 0 32px 32px;
    }
    & .button__hexagon-center {
      width: calc(100% - 64px);
      filter: drop-shadow(0px 4px 50px #ff8e3d);
    }
  }
}

//====================================================================================================
